html {
  background: url("../bg.jpg");
  background-repeat: no-repeat;
  background-size: 100vmax 100vmin;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 180px;
}
.header > a {
  color: black;
  text-decoration: none;
}
h2 {
  margin: 0;
}
.signup-form {
  margin: 5% 40%;
  padding: 20px 6px;
  height: 50vh;
  width: 20vw;
  border: 2px solid whitesmoke;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
}
.date-of-birth,
.gender {
  display: flex;
  justify-content: space-between;
}
